# Visual Studio Code

/.vscode/

# npm

/node_modules/
/packages/*/node_modules/

# Yarn

/.yarn/

/.pnp.*

# Artifacts

/packages/*/package.tgz
/packages/*/LICENSE
/packages/*/tsconfig.tsbuildinfo
/packages/*/types/tsconfig.tsbuildinfo
/packages/*/lib/
